

.gradient_background {
	background: linear-gradient(-45deg, #865DFF, #66347F, #37306B, #E90064);
	background-size: 180% 180%;
	animation: gradient 15s ease infinite;
	height: 100vh;
    width: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.container{
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100% !important;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
}

.name{
    /* font-family: 'Sacramento', cursive; */
    font-family: 'Shadows Into Light', cursive;
    /* font-family: 'Cedarville Cursive', cursive;font-family: 'Cedarville Cursive', cursive; */
    
    
    font-size: 5rem;
    --s: 0;   /* the thickness of the line */
  --c: #E384FF !important; /* the color */
  
  color: #0000 !important;
  padding-bottom: var(--s);
  background: 
    linear-gradient(90deg,var(--c) 50%,#000 0) calc(100% - var(--_p,0%))/200% 100%,
    linear-gradient(var(--c) 0 0) 0% 100%/var(--_p,0%) var(--s) no-repeat;
  -webkit-background-clip: text,padding-box;
          background-clip: text,padding-box;
  transition: 0.5s;
  
}

h1 {
    cursor: pointer;
  }

h1:hover {--_p: 100%}

.job-role {
    cursor: pointer;
    margin: auto;
    font-size: 0.7rem;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
    transition: font-weight 250ms ease-in-out;
    color: #E384FF;
  }
  
  .job-role:hover {
    font-weight: 900;
    color: white;
  }

.profilepic{
  width: 100px;
  border-radius: 50%;
}

.profilecap{
  font-family: 'Shadows Into Light', cursive;
  font-weight: bolder;
}

.profiledesc{
  font-size: 1rem;
  font-family: 'Courier New', Courier, monospace;
}

.myexp{
  text-align: center;
  font-family: 'Shadows Into Light', cursive;
  font-weight: bolder;
  color: white;
}

.cardmain {
	background: linear-gradient(-45deg, #865DFF, #66347F, #37306B, #E90064);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}


.card:hover{
  border: 1px solid #E384FF;
  cursor: pointer;
}

.svg1{
  height: 2rem;
  fill: white !important;
  width: 3rem;
}
.svg1:hover{
  fill: #E384FF !important;
}

.svg{
  display: flex;
  align-items: center;
}

.svg11{
  margin-top: 20px;
  margin-right: 20px;
}


.card1head{
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.5rem;
}

.card1head:hover{
  color: #E384FF;
}


.card1cont{
  font-family: 'Courier New', Courier, monospace;
  word-spacing: -3px;
}

span{
  font-size: 0.8rem;
  font-family: 'Courier New', Courier, monospace;
}

:root {
  --hs: 225, 100%;
  --paper: hsl(var(--hs), 25%);
  --highlight: hsl(var(--hs), 45%);
  --shadow: hsl(var(--hs), 15%);
}

.card1head {
  --s: 0.1em;   /* the thickness of the line */
  --c: #E384FF; /* the color */
  
  color: white;
  padding-bottom: var(--s);
  background: 
    linear-gradient(90deg,var(--c) 50%,#000 0) calc(100% - var(--_p,0%))/200% 100%,
    linear-gradient(var(--c) 0 0) 0% 100%/var(--_p,0%) var(--s) no-repeat;
  -webkit-background-clip: text,padding-box;
          background-clip: text,padding-box;
  transition: 0.5s;
}
.card1head:hover {--_p: 100%}

.contacthead{
  font-family: 'Shadows Into Light', cursive;
  margin-bottom: 20px !important;
}

.contactcont{
  font-family: 'Courier New', Courier, monospace;
  word-spacing: -3px;
  font-size: 1rem;
  margin-top: 10px;
}

.btn{
  background-color: #E384FF;
  border-color: #E384FF;
  color: #000;
 
}

.btn:hover{
  background-color: #E384FF99;
  border-color: #E384FF99;
  color: black;
}

.gradient_footer{
  background: linear-gradient(-45deg, #865DFF, #66347F, #37306B, #E90064);
	background-size: 180% 180%;
	animation: gradient 15s ease infinite;
  border-radius: 20px;
}

.socialmain{
  margin-right: 40px;
}

.socialm svg{
  fill: white;
}

.socialm svg:hover{
  fill: #E384FF;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


@media (min-width: 100px){
    .container, .container-lg, .container-sm{
        max-width: 100%;
    }
}

.waviy {
  position: relative;
}
.waviy span {
  position: relative;
  display: inline-block;
  font-size: 40px;
  color: #fff;
  text-transform: uppercase;
  animation: flip 2s infinite;
  animation-delay: calc(.8s * var(--i))
}

.flipcont{
  font-size: 1rem !important;
  color: #E384FF !important;
  font-family: 'Courier New', Courier, monospace;
}

.flip11{
  font-size: 0.8rem !important;
  letter-spacing: -2px;
  
}

@keyframes flip {
  0%,80% {
    transform: rotateY(360deg) 
  }
}
